* {
	box-sizing: border-box;
}

body {
	font-family: Comic Sans MS, Sans-Serif;
	background-color: #fbf5f6;

}

h1 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 275%;
}

h2 {
	float: right;
	margin-top: 0;
	border: 3px solid black;
	text-align: right;
	margin-bottom: 1%
}

#first {
	background-color: #ffb6c1;
}
#second {
	background-color: #ff3b3b;
	color: white;
}
#third {
	background-color: #ffff62
}

p {
	clear: both;
}

.container {
		width: 100%;
		
		border: 1px solid black;
	}



@media (min-width: 992px) {

	.col-lg-4 {
		box-sizing:border-box;
		float:left;
		margin-left:2%;
		margin-right:2%;
		margin-top:4%;
		margin-bottom: 10%;
		border:3px solid black;
		width:29.33%;
		height:50%;
		background-color: lightgrey;
	}
	
}

@media (min-width: 768px) and (max-width: 991px) {

	.col-md-6 {
		box-sizing: border-box;
		float: left; 
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 4%;
		border:3px solid black;
		width: 46%;
		height:50%;
		background-color: lightgrey;
	}
	
	.col-md-12 {
		box-sizing: border-box;
		float: left; 
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 4%;
		border:3px solid black;
		width: 96%;
		height:50%;
		background-color: lightgrey;
	}
}

@media (max-width: 767px) {

	.col-sm-12 {
		box-sizing: border-box;
		float: left; 
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 4%;
		border:3px solid black;
		width: 96%;
		height:50%;
		background-color: lightgrey;

	}
}
